.main{
height:100vh;
background-image:url("main.jpg");
background-size:cover;
background-position:center;
position:relative;
color:white;
}
.main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}
.top_bar{
position:relative;
z-index:2;
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 60px;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
font-size:20px;
}
.top_bar .right span {
  margin-left: 20px;
}
.navbar{
position:relative;
z-index:2;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}
.logo{
font-size:80px;
font-family: "Cinzel";
}
.nav1{
list-style:none;
display:flex;
gap:30px;
}
.nav1 a{
color: white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
}
.nav1 a:hover {
  text-decoration: underline red;
}
.butn{
background:transparent;
border:1px solid white;
color:white;
padding:10px 18px;
cursor:pointer;
}
.butn:hover {
  background: white;
  color: black;
}
.mid{
 position: relative;
  z-index: 2; max-width: 1100px;
  margin: 80px auto;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subtitle{
font-size:35px;
font-family:Cursive;
}
.mid2{
align-items:center;
display:flex;
flex-direction:column;
font-size:30px;
}

.menu{
 max-width: 1100px;
  margin: 80px auto;
text-align:center;
}
.subtitle1{
color:orange;
font-size:px;
}
.title1{
font-size:40px;
margin-bottom:60px;

}
.menu-grid{
display:grid;
grid-template-columns: 1fr 1fr;
gap:60px;
text-align:left;
}
.menu-item{
margin-bottom:40px;
}
.item-head{
display: flex;
align-items: center;
}
.item-name {
  display: flex;
  align-items: center;
  flex: 1;
    font-size:25px;

}
.item-name::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
  margin: 0 12px;

}
.item-desc{
 font-size: 14px;
  color: #777;
  margin-top: 8px;
}
.price{
font-weight:bold;
}
.images{
display:flex;
gap:20px;
justify-content:center;
}
.images img {
  width: 23%;             /* 4 images fit in one row */
  height: 300px;
  border-radius: 10px;    /* optional */
}
